<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Home: DSA Hub</title>

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <nav data-role="ribbonmenu">
        <ul class="tabs-holder">
            <li class="static"><a href="/">Home</a></li>
            <li><a href="#section-one">Browse</a></li>
            <li><a href="#section-two">About</a></li>
            <li><a href="#section-three">Share</a></li>
            <li><a href="#section-four">Help</a></li>
        </ul>

        <div class="content-holder">
            <div class="section" id="section-one">
                <p class="p-4">Section one</p>
            </div>
            <div class="section" id="section-two">
                <p class="p-4">Section two</p>
            </div>
            <div class="section" id="section-three">
                <div class="group">
                  <button class="ribbon-button">
                          <span class="icon">
                              <img src="images/share.svg">
                          </span>
                      <span class="caption">Share</span>
                  </button>

                  <span class="title">Group title</span>
              </div>

              <div class="group">
                  <button class="ribbon-button">
                          <span class="icon">
                              <img src="images/share.svg">
                          </span>
                      <span class="caption">Share</span>
                  </button>

                  <span class="title">Group title</span>
              </div>
            </div>
            <div class="section" id="section-four">
                <p class="p-4">Section four</p>
            </div>
        </div>
      </nav>
      
      <div data-role="navview">
        <div class="navview-pane">
            <button class="pull-button">
                <span class="default-icon-menu"></span>
            </button>
            <ul class="navview-menu">
              <li class="item-header">Main pages</li>

              <li>
                  <a href="#">
                      <span class="icon"><span class="mif-apps"></span></span>
                      <span class="caption">Apps</span>
                  </a>
              </li>

              <li class="item-separator"></li>

              <li class="item-header">Office</li>

              <li>
                  <a href="#">
                      <span class="icon"><span class="mif-file-word"></span></span>
                      <span class="caption">Word</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon"><span class="mif-file-excel"></span></span>
                      <span class="caption">Excel</span>
                  </a>
              </li>
            </ul>
        </div>

        <div class="navview-content">
            <h1 class="text-center">
              Welcome to DSA Hub!
            </h1>
            <p class="text-center">
              This is your one stop hub for your learning needs pertaining to data structures and algorithms.
            </p>
            <div class="grid">
              <div class="row">
                  <div class="cell"><div>1</div></div>
                  <div class="cell"><div>2</div></div>
                  <div class="cell"><div>3</div></div>
                  <div class="cell"><div>4</div></div>
                  <div class="cell"><div>5</div></div>
                  <div class="cell"><div>6</div></div>
                  <div class="cell"><div>7</div></div>
                  <div class="cell"><div>8</div></div>
                  <div class="cell"><div>9</div></div>
                  <div class="cell"><div>10</div></div>
                  <div class="cell"><div>11</div></div>
                  <div class="cell"><div>12</div></div>
              </div>
              <div class="row">
                  <div class="cell-3"><div>cell-3</div></div>
                  <div class="cell-3"><div>cell-3</div></div>
                  <div class="cell-3"><div>cell-3</div></div>
                  <div class="cell-3"><div>cell-3</div></div>
              </div>
              <div class="row">
                  <div class="cell-4 offset-4"><div>cell-4 + offset-4</div></div>
              </div>
              <div class="row">
                  <div class="cell-3"><div>cell-3</div></div>
                  <div class="cell-6 offset-3"><div>cell-6 + offset-3</div></div>
              </div>
              <div class="row">
                  <div class="cell-4 offset-4"><div>cell-4 + offset-4</div></div>
                  <div class="cell"><div>1</div></div>
                  <div class="cell"><div>1</div></div>
                  <div class="cell"><div>1</div></div>
                  <div class="cell"><div>1</div></div>
              </div>
              <div class="row">
                  <div class="cell">
                      <div class="row">
                          <div class="cell"><div>nested</div></div>
                          <div class="cell"><div>nested</div></div>
                          <div class="cell"><div>nested</div></div>
                          <div class="cell"><div>nested</div></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <h1 class="text-center">
              Welcome to DSA Hub!
            </h1>
            <p class="text-center">
              This is your one stop hub for your learning needs pertaining to data structures and algorithms.
            </p>
        </div>

      <!-- jQuery first, then Metro UI JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    </div>
  </body>
</html>